<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <title><%= titulo %></title>
</head>
<body>
    <h2><%= user %></h2>
    <div class="compras">
        <form action="Carrinho" method="post">
            <h1><%= titulo %></h1>
            <label for="item">abc</label><br>
            <input type="checkbox" name="item" value="abc"><br>
            <input type="submit" value="Concluir">
        </form>
    </div>
   
    

</body>
</html>